@{
    ViewData["Title"] = "Công ty dịch vụ xử lý môi trường";
}
<div class="main">

    <!--hero section start-->
    <section class="ptb-70 gradient-bg">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-5">
                    <div class="hero-slider-content text-white pt-5">
                        <h1 class="text-white">Vệ Sinh Môi Trường</h1>
                        <p class="lead">Cung cấp dịch vụ vệ dịch vụ vệ sinh môi trường với chất lượng cao, xử lý chuyên nghiệp. Chế độ bảo hành dài hạn, giá cả hợp lý cho khách hàng</p>

                        <div class="action-btns mt-3">
                            <a href="#" class="btn solid-white-btn"><i class="fas fa-phone-alt mr-2"></i>Liên hệ tư vấn</a>
                        </div>
                    </div>
                </div>
               <div class="col-md-12 col-lg-7">
                    <div class="image-wrap pt-5">
                        <img style="height: 500px" src="img/banner3.png" class="img-fluid custom-width" alt="hero" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--hero section end-->
    <!--services section start-->
    <section class="services-section ptb-40 gray-light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="section-heading text-center mb-5">
                        <strong class="color-secondary">Our Services</strong>
                        <h2>Dịch vụ cung cấp</h2>
                        <span class="animate-border mr-auto ml-auto mb-4"></span>
                      
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-single text-center p-5 my-md-3 my-lg-3 my-sm-0 shadow-sm white-bg rounded">
                        <img src="img/icon/Artboard 5.svg" height="64" alt="">
                        <h5>
                            Thông tắc chậu rửa bát
                        </h5>
                        <p class="mb-0">
                            Chúng tôi cam kết dịch vụ thông tắc chậu rửa bát tại Hà Nội nhanh gọn, chuyên nghiệp và hiệu quả
                        </p>
                        <a href="services-details.html" target="_blank" class="detail-link mt-4">
                            Read more <span class="ti-arrow-right"></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-single text-center p-5 my-md-3 my-lg-3 my-sm-0 shadow-sm white-bg rounded">
                        <img src="img/icon/Artboard 6.svg" height="64" alt="">
                        <h5>
                            Thông tắc thoát sàn
                        </h5>
                        <p class="mb-0">
                            Chúng tôi cung cấp dịch vụ thông tắc thoát sàn, giá cả hợp lý, đội ngũ chuyên nghiệp.
                        </p>
                        <a href="services-details.html" target="_blank" class="detail-link mt-4">
                            Read more <span class="ti-arrow-right"></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-single text-center p-5 my-md-3 my-lg-3 my-sm-0 shadow-sm white-bg rounded">
                        <img src="img/icon/Artboard 10.svg" height="64" alt="">
                        <h5>
                            Thông tắc cống ngầm
                        </h5>
                        <p class="mb-0">
                            Dịch vụ thông tắc cống ngầm với máy móc hiện đại. Hiện nay thông tắc hiệu quả và mức giá ổn định nhất
                        </p>
                        <a href="services-details.html" target="_blank" class="detail-link mt-4">
                            Read more <span class="ti-arrow-right"></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-single text-center p-5 my-md-3 my-lg-3 my-sm-0 shadow-sm white-bg rounded">
                        <img src="img/icon/Artboard 8.svg" height="64" alt="">
                        <h5>Hút bể phốt</h5>
                        <p class="mb-0">
                            Dịch vụ hút bể phốt giá rẻ tại Hà Nội của chúng tôi hiện nay là đơn vị chuyên hút bể phốt với mức giá được cung cấp cho người sử dụng và được đánh giá là mức giá phù hợp nhất
                        </p>
                        <a href="services-details.html" target="_blank" class="detail-link mt-4">
                            Read more <span class="ti-arrow-right"></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-single text-center p-5 my-md-3 my-lg-3 my-sm-0 shadow-sm white-bg rounded">
                        <span class="ti-briefcase icon-lg color-secondary d-block mb-4"></span>
                        <h5>
                            Thông tắc bồn cầu
                        </h5>
                        <p class="mb-0">
                            Dịch vụ thông tắc bồn cầu với máy móc hiện đại, xử lý nhanh chóng, luôn sẵn sàng phục vụ.
                        </p>
                        <a href="services-details.html" target="_blank" class="detail-link mt-4">
                            Read more <span class="ti-arrow-right"></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services-single text-center p-5 my-md-3 my-lg-3 my-sm-0 shadow-sm white-bg rounded">
                        <span class="ti-vector icon-lg color-secondary d-block mb-4"></span>
                        <h5>
                            Hút hố ga
                        </h5>
                        <p class="mb-0">
                            Dịch vụ hút bể phốt giá rẻ tại Hà Nội của chúng tôi hiện nay là đơn vị chuyên hút hố ga với mức giá được cung cấp cho người sử dụng và được đánh giá là mức giá phù hợp nhất.
                        </p>
                        <a href="services-details.html" target="_blank" class="detail-link mt-4">
                            Read more<span class="ti-arrow-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--services section end-->
    <!--call to action section start-->
    <section class="call-to-action-video">
        <div class="row m-0">
            <div class="col-lg-6 col-md-12 p-0">
                <div class="free-trial-image text-center">
                    <img src="img/cta-2-girl-img.jpg" alt="image" class="img-fluid">
                    <a href="https://www.youtube.com/watch?v=9No-FiEInLA"
                       class="popup-youtube video-play-icon white-bip shadow"><span class="ti-control-play"></span> </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 p-0">
                <div class="free-trial-content text-white">
                    <h2 class="text-white">Liên hệ với chúng tôi để được hỗ trợ tư vấn </h2>
                    <p>
                        Chúng tôi luôn đặt chất lượng lên hàng đầu, tư vấn miễn phí, có mặt hỗ    trợ kiểm tra sau khi bạn gọi 15 phút. Xử lý nhanh gọn, sạch sẽ, luôn đặt sự hài lòng của khách hàng lên hàng đầu.
                    </p>
                    <a href="#" class="btn primary-solid-btn mt-3">Liên Hệ Tư Vấn</a>
                </div>
            </div>
        </div>
    </section>
    <!--call to action section end-->
    <!--promo section start-->
    <section class="promo-section ptb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="section-heading text-center mb-5">
                        <strong class="color-secondary">Benefit</strong>
                        <h2>Lợi ích của khách hàng khi sử dụng dịch vụ của chúng tôi</h2>
                        <span class="animate-border mr-auto ml-auto mb-4"></span>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <a href="#">
                        <div class="single-promo-2 single-promo-hover rounded text-center white-bg p-5 h-100">
                            <h5 class="color-secondary">
                                Có mặt sau 15 phút
                            </h5>
                            <p>
                                Có mặt sau 15 phút ngay sau khi nhận thông tin.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <a href="#">
                        <div class="single-promo-2 single-promo-hover rounded text-center white-bg p-5 h-100">
                            <h5 class="color-secondary">Kỷ thuật giỏi</h5>
                            <p>Đội ngũ nhân viên giỏi, tận tình, chu đáo.</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <a href="#">
                        <div class="single-promo-2 single-promo-hover rounded text-center white-bg p-5 h-100">
                            <h5 class="color-secondary">
                                Phục vụ 24/7
                            </h5>
                            <p>
                                Phụ vụ 24/7 với tiêu trí giá rẻ như ngày thường, miễn phí đối với gia đình hoàn cảnh khó khăn.
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-3">
                    <a href="#">
                        <div class="single-promo-2 single-promo-hover rounded text-center white-bg p-5 h-100">
                            <h5 class="color-secondary">Báo giá chính xác</h5>
                            <p>
                                Kiểm tra, báo giá chính xác từng hạng mục trước khi triển khai.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--promo section end-->
    <!--testimonial section start-->
    <section class="testimonial-section ptb-100"
             style="background: url('img/testimonial-bg.png')no-repeat center center / cover">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-5">
                    <div class="testimonial-heading text-white">
                        <h2 class="text-white">Quy trình làm việc khi tiếp nhận xử lý của khách hàng</h2>
                        <span class="animate-border mb-4"></span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="testimonial-content-wrap">
                        <img src="img/testimonial-arrow-top.png" class="img-fluid testimonial-tb-shape shape-top"
                             alt="testimonial shape">
                        <div class="owl-carousel owl-theme client-testimonial-1 custom-dot testimonial-shape">
                            <div class="item">
                                <div class="testimonial-quote-wrap">
                                    <div class="media author-info mb-3">
                                   
                                        <div class="media-body text-white">
                                            <h5 class="mb-0 text-white">1.TIẾP NHẬN</h5>
                                        </div>
                                        <span class="fas fa-quote-right icon-md text-white"></span>
                                    </div>
                                    <div class="client-say text-white">
                                        <p>
                                            Kể từ khi nhận thông tin từ phía khách hàng, đội ngũ tư vấn viên sẽ hỗ trợ giải đáp mọi thắc mắc về dịch vụ mà khách hàng đang gặp phải sau đó chuyển phòng ban liên quan để tiếp tục xử lý.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-quote-wrap">
                                    <div class="media author-info mb-3">
                                  
                                        <div class="media-body text-white">
                                            <h5 class="mb-0 text-white">2.BÁO GIÁ</h5>
                                        </div>
                                        <span class="fas fa-quote-right icon-md text-white"></span>
                                    </div>
                                    <div class="client-say text-white">
                                        <p>
                                            Ngay khi nhận thông tin từ phía khách hàng yêu cầu, đội ngũ tư vấn viên công ty sẽ báo giá minh bạch & hỗ trợ giải đáp mọi thắc mắc, nếu cần thiết sẽ đến tận nơi để khảo sát tư vấn miễn phí.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-quote-wrap">
                                    <div class="media author-info mb-3">
                                   
                                        <div class="media-body text-white">
                                            <h5 class="mb-0 text-white">3.THI CÔNG</h5>
                                        </div>
                                        <span class="fas fa-quote-right icon-md text-white"></span>
                                    </div>
                                    <div class="client-say text-white">
                                        <p>
                                            Sau khi thống nhất về đơn giá với khách hàng, Công ty sẽ nhanh chóng cử kỹ thuật viên giàu kinh nghiệm cùng máy móc hiện đại xuống khu vực để tiến hành xử lý theo đúng tiêu chuẩn.

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-quote-wrap">
                                    <div class="media author-info mb-3">
                                        <div class="author-img mr-3">
                                        </div>
                                        <div class="media-body text-white">
                                            <h5 class="mb-0 text-white">4.NGHIỆM THU</h5>
                                        </div>
                                        <span class="fas fa-quote-right icon-md text-white"></span>
                                    </div>
                                    <div class="client-say text-white">
                                        <p>
                                            Quý khách sẽ cùng kỹ thuật viên kiểm tra lại tình trạng bể phốt, bồn cầu, đường cống cũng như khối lượng công việc đã thực hiện. Sau đó thanh toán chi phí.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-quote-wrap">
                                    <div class="media author-info mb-3">
                                
                                        <div class="media-body text-white">
                                            <h5 class="mb-0 text-white">5.THANH TOÁN</h5>
                                        </div>
                                        <span class="fas fa-quote-right icon-md text-white"></span>
                                    </div>
                                    <div class="client-say text-white">
                                        <p>
                                            Dựa theo biên bản nghiệm thu công trình và kết hợp với các chương trình ưu đãi khuyến mại hiện đang triển khai, Chúng tôi sẽ lập hóa đơn và tiến hành thu phí dịch vụ.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="img/testimonial-arrow-bottom.png" class="img-fluid testimonial-tb-shape shape-bottom"
                             alt="testimonial shape">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--testimonial section end-->
    <!--team two section start-->
    
    <!--team two section end-->



</div>
