
@{
    ViewData["Title"] = "_Footer";
}

<footer class="footer-section">
    <!--footer top start-->
    <div class="footer-top gradient-bg">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer-nav-wrap text-white">
                        <h4 class="text-white">GIỚI THIỆU</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Giới thiệu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sứ mệnh tầm nhìn </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Giá trị cốt lõi </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Hỗ trợ chuyển đổi số</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Hỗ trợ sử dụng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Câu hỏi thường gặp</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-nav-wrap text-white">
                        <h4 class="text-white">QUẢN TRỊ</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Báo cáo BI</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Mục tiêu và Kế hoạch</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Phương án Kinh doanh</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Kiểm soát Nội bộ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-nav-wrap text-white">
                        <h4 class="text-white">ĐIỀU HÀNH </h4>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Quản lý Công việc</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Đánh giá Hiệu quả</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Đề nghị và Phê duyệt</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Quản lý Hành chính</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Hồ sơ Nhân sự</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Chấm công Tính lương</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-nav-wrap text-white">
                        <h4 class="text-white">TÁC NGHIỆP</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Chăm sóc Khách hàng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Thúc đẩy Bán hàng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Quản lý Mua hàng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Giám sát Công nợ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Quản lý Thu chi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sổ thực Tài chính </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-nav-wrap text-white">
                        <h4 class="text-white">TƯ VẤN+</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Chuyển đổi số tinh gọn</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Xây dựng lõi tài chính </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Tư vấn hỗ trợ đồng hành</a>
                            </li>
                        </ul>
                        <a href="#" class="btn primary-solid-btn">Liên Hệ Tư Vấn</a>

                    </div>
                </div>

            </div><hr class="my-5">
            <div class="row align-items-end">
                <div class="col-md-9 mr-auto">
                    <div class="row footer-top-wrap">
                        <div class="col-md-3">
                            <div class="footer-nav-wrap text-white">
                                <img src="img/logo_trang.svg" alt="logo" width="60" class="mb-2">
                                <p>
                                    Nền tảng quản trị điều hành tác nghiệp tối ưu dành riêng cho doanh nghiệp vừa và nhỏ.
                                </p>
                                <div class="social-nav mt-4">
                                    <ul class="list-unstyled social-list mb-0">
                                        <li class="list-inline-item tooltip-hover">
                                            <a href="#" class="rounded"><span class="ti-facebook"></span></a>
                                            <div class="tooltip-item">Facebook</div>
                                        </li>
                                        <li class="list-inline-item tooltip-hover">
                                            <a href="#" class="rounded">
                                                <span class="ti-youtube"></span>
                                            </a>
                                            <div class="tooltip-item">Youtube</div>
                                        </li>
                                        <li class="list-inline-item tooltip-hover">
                                            <a href="#" class="rounded">
                                                <span class="ti-linkedin"></span>
                                            </a>
                                            <div class="tooltip-item">Linkedin</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="row footer-top-wrap mt-md-4 mt-sm-0 mt-lg-0">
                                <div class="col-12">
                                    <div class="footer-nav-wrap text-white">
                                        <h4 class="text-white">LIÊN HỆ</h4>
                                        <ul class="get-in-touch-list">
                                            <li class="d-flex align-items-center py-2">
                                                <span class="fas fa-map-marker-alt mr-2"></span> Trụ sở: 34A, Đường Yên Phúc, P. Phúc La, Q. Hà Đông, TP. Hà Nội.
                                            </li>
                                            <li class="d-flex align-items-center py-2">
                                                <span class="fas fa-map-marker-alt mr-2"></span> VPGD: Tầng 5, toà nhà HUD3,  Tô Hiệu, P. Nguyễn Trãi, Q.Hà Đông, TP. Hà Nội.
                                            </li>
                                            <li class="d-flex align-items-center py-2">
                                                <span class="fas fa-envelope mr-2"></span> f1plus@gmail.com
                                            </li>
                                            <li class="d-flex align-items-center py-2"><span class="fas fa-phone-alt mr-2"></span> (+8) 1900-1368-1 /  (+8) 1900-1368-2 </li>
                                        </ul>
                                        <!--<form class="newsletter-form mt-3">
                                            <input type="text" class="input-newsletter" placeholder=""
                                                   name="EMAIL" required="" autocomplete="off">
                                            <button type="submit" class="disabled"
                                                    style="pointer-events: all; cursor: pointer;">
                                                <i class="fas fa-paper-plane"></i>
                                            </button>
                                        </form>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <p class="text-white">
                        Tải ứng dụng F1+ Mobile <br>
                        <a class="mr-2" href=""><img src="img/App_Store.svg" height="40" alt=""></a>
                        <a href=""><img src="img/google-play.svg" height="40" alt=""></a>
                    </p><hr>
                    <img src="img/20150827110756-dathongbao.png" style="height: 50px;" alt="">

                </div>

            </div>
        </div>
    </div>

    <!--footer top end-->
    <!--footer copyright start-->
    <div class="footer-bottom gray-light-bg py-2">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-5 col-lg-5">
                    <p class="copyright-text pb-0 mb-0">
                        Bản quyền ©2021 bởi
                        <a href="#" target="_blank">F1 Plus</a> Một sản phẩm của PiSA Solution.
                    </p>
                </div>
                <div class="col-md-7 col-lg-6 d-none d-md-block d-lg-block">
                    <ul class="list-inline policy-nav text-right social-list">
                        <li class="list-inline-item"><a href="#">Điều khoản</a></li>
                        <li class="list-inline-item"><a href="#">Chính sách</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--footer copyright end-->
</footer>

