@{
    ViewData["Title"] = "_Header";
}
<header class="header">
    <!--topbar start-->
    <div id="header-top-bar" class="primary-bg py-2">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-7 col-lg-7 d-none d-md-block d-lg-block">
                    <div class="topbar-text text-white">
                        <ul class="list-inline">
                            <li class="list-inline-item"><span class="fas fa-headphones-alt mr-1"></span> 24x7 Technical Support</li>
                            <li class="list-inline-item"><span class="fas fa-phone-alt mr-1"></span> 883-4565-123456</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="topbar-text text-white">
                        <ul class="list-inline text-md-right text-lg-right text-left  mb-0">
                            <li class="list-inline-item">
                                <a href="#" class="rounded"><span class="fab fa-facebook-f"></span></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="rounded">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="rounded">
                                    <span class="fab fa-linkedin-in"></span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="rounded">
                                    <span class="fab fa-dribbble"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--topbar end-->
    <!--start navbar-->

    <nav class="navbar navbar-expand-lg fixed-top white-bg">
        <div class="container">
            <a class="navbar-brand logo" href="index.html">
                <img src="img/logo_mau.svg" alt="logo" class="img-fluid" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu"></span>
            </button>
            <div class="collapse navbar-collapse h-auto" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto menu">
                    <li class="nav-item"><a class="nav-link" href="">Trang chủ</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Nền tảng
                        </a>
                        <div class="dropdown-menu mb-4" aria-labelledby="navbarDropdown">
                            <div class="container-fluid">
                                <div class="row">

                                    <nav class="container">
                                        <div class="row">
                                            <section class="col-md-3">
                                                <a class="box-a" href="">
                                                    <span class="font-weight-bold font-125em">QUẢN TRỊ</span><br>
                                                    <span class="font-weight-light">Lorem ipsum dolor sit amet. </span>
                                                    <small></small>
                                                </a><hr class="mt-0">
                                                <div class="list-group">
                                                    <a href="#" class="list-group-item list-group-item-action border-0 px-0 py-2">
                                                        <div class="media">
                                                            <img src="img/icon-menu.png" class="mr-3 rounded-circle" style="width:42px;">
                                                            <div class="media-body">
                                                                <h6>Mục tiêu & Kế hoạch</h6>
                                                                <small class="font-weight-light text-black-50">Định hướng và thúc đẩy vận hành</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action border-0 px-0 py-2">
                                                        <div class="media">
                                                            <img src="img/icon-menu.png" class="mr-3 rounded-circle" style="width:42px;">
                                                            <div class="media-body">
                                                                <h6>Phương án kinh doanh</h6>
                                                                <small class="font-weight-light text-black-50">Đánh giá phương án kinh doanh</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action border-0 px-0 py-2">
                                                        <div class="media">
                                                            <img src="img/icon-menu.png" class="mr-3 rounded-circle" style="width:42px;">
                                                            <div class="media-body">
                                                                <h6>Mục tiêu & Kế hoạch</h6>
                                                                <small class="font-weight-light text-black-50">Định hướng và thúc đẩy vận hành</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </section>
                                            <section class="col-md-3">
                                                <a class="box-a" href="">
                                                    <span class="font-weight-bold font-125em">ĐIỀU HÀNH</span><br>
                                                    <span class="font-weight-light">Lorem ipsum dolor sit amet. </span>
                                                    <small></small>
                                                </a><hr class="mt-0">
                                                <div class="list-group">
                                                    <a href="#" class="list-group-item list-group-item-action border-0 px-0 py-2">
                                                        <div class="media">
                                                            <img src="img/icon-menu.png" class="mr-3 rounded-circle" style="width:42px;">
                                                            <div class="media-body">
                                                                <h6>Mục tiêu & Kế hoạch</h6>
                                                                <small class="font-weight-light text-black-50">Định hướng và thúc đẩy vận hành</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action border-0 px-0 py-2">
                                                        <div class="media">
                                                            <img src="img/icon-menu.png" class="mr-3 rounded-circle" style="width:42px;">
                                                            <div class="media-body">
                                                                <h6>Phương án kinh doanh</h6>
                                                                <small class="font-weight-light text-black-50">Đánh giá phương án kinh doanh</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action border-0 px-0 py-2">
                                                        <div class="media">
                                                            <img src="img/icon-menu.png" class="mr-3 rounded-circle" style="width:42px;">
                                                            <div class="media-body">
                                                                <h6>Mục tiêu & Kế hoạch</h6>
                                                                <small class="font-weight-light text-black-50">Định hướng và thúc đẩy vận hành</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </section>
                                            <section class="col-md-3">
                                                <a class="box-a" href="">
                                                    <span class="font-weight-bold font-125em">TÁC NGHIỆP</span><br>
                                                    <span class="font-weight-light">Lorem ipsum dolor sit amet. </span>
                                                    <small></small>
                                                </a><hr class="mt-0">
                                                <div class="list-group">
                                                    <a href="#" class="list-group-item list-group-item-action border-0 px-0 py-2">
                                                        <div class="media">
                                                            <img src="img/icon-menu.png" class="mr-3 rounded-circle" style="width:42px;">
                                                            <div class="media-body">
                                                                <h6>Mục tiêu & Kế hoạch</h6>
                                                                <small class="font-weight-light text-black-50">Định hướng và thúc đẩy vận hành</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action border-0 px-0 py-2">
                                                        <div class="media">
                                                            <img src="img/icon-menu.png" class="mr-3 rounded-circle" style="width:42px;">
                                                            <div class="media-body">
                                                                <h6>Phương án kinh doanh</h6>
                                                                <small class="font-weight-light text-black-50">Đánh giá phương án kinh doanh</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action border-0 px-0 py-2">
                                                        <div class="media">
                                                            <img src="img/icon-menu.png" class="mr-3 rounded-circle" style="width:42px;">
                                                            <div class="media-body">
                                                                <h6>Mục tiêu & Kế hoạch</h6>
                                                                <small class="font-weight-light text-black-50">Định hướng và thúc đẩy vận hành</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </section>
                                            <section class="col-md-3">
                                                <a class="box-a" href="">
                                                    <span class="font-weight-bold font-125em">TƯ VẤN +</span><br>
                                                    <span class="font-weight-light">Lorem ipsum dolor sit amet. </span>
                                                    <small></small>
                                                </a><hr class="mt-0">
                                                <div class="list-group">
                                                    <a href="#" class="list-group-item list-group-item-action border-0 px-0 py-2">
                                                        <div class="media">
                                                            <img src="img/icon-menu.png" class="mr-3 rounded-circle" style="width:42px;">
                                                            <div class="media-body">
                                                                <h6>Mục tiêu & Kế hoạch</h6>
                                                                <small class="font-weight-light text-black-50">Định hướng và thúc đẩy vận hành</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action border-0 px-0 py-2">
                                                        <div class="media">
                                                            <img src="img/icon-menu.png" class="mr-3 rounded-circle" style="width:42px;">
                                                            <div class="media-body">
                                                                <h6>Phương án kinh doanh</h6>
                                                                <small class="font-weight-light text-black-50">Đánh giá phương án kinh doanh</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action border-0 px-0 py-2">
                                                        <div class="media">
                                                            <img src="img/icon-menu.png" class="mr-3 rounded-circle" style="width:42px;">
                                                            <div class="media-body">
                                                                <h6>Mục tiêu & Kế hoạch</h6>
                                                                <small class="font-weight-light text-black-50">Định hướng và thúc đẩy vận hành</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action border-0 px-0 py-2">
                                                        <div class="media">
                                                            <img src="img/icon-menu.png" class="mr-3 rounded-circle" style="width:42px;">
                                                            <div class="media-body">
                                                                <h6>Phương án kinh doanh</h6>
                                                                <small class="font-weight-light text-black-50">Đánh giá phương án kinh doanh</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="list-group-item list-group-item-action border-0 px-0 py-2">
                                                        <div class="media">
                                                            <img src="img/icon-menu.png" class="mr-3 rounded-circle" style="width:42px;">
                                                            <div class="media-body">
                                                                <h6>Mục tiêu & Kế hoạch</h6>
                                                                <small class="font-weight-light text-black-50">Định hướng và thúc đẩy vận hành</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </section>
                                        </div>
                                    </nav>
                                    <!--<div class="tab-content" id="nav-tabContent">
                                      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
                                      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
                                      <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
                                    </div>-->



                                </div>
                                <!--  /.container  -->


                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Giải pháp
                        </a>
                        <div class="dropdown-menu mb-4" aria-labelledby="navbarDropdown">
                            <div class="container-fluid">
                                <div class="row">

                                    <nav class="container">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-3">
                                                <a href="#" class="p-0 mt-3">
                                                    <div class="single-promo-2 single-promo-hover rounded text-center white-bg p-5 h-100">
                                                        <div class="circle-icon">
                                                            <span class="ti-music-alt text-white"></span>
                                                        </div>
                                                        <h5>Thương mại xuất nhập khẩu</h5>
                                                        <p class="font-weight-light">Increase sales by showing true dynamics of your website.</p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <a href="#" class="p-0 mt-3">
                                                    <div class="single-promo-2 single-promo-hover rounded text-center white-bg p-5 h-100">
                                                        <div class="circle-icon">
                                                            <span class="ti-dashboard text-white"></span>
                                                        </div>
                                                        <h5>Thương mại sản xuất</h5>
                                                        <p class="font-weight-light">Build your online store’s trust using Social Proof &amp; Urgency.</p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <a href="#" class="p-0 mt-3">
                                                    <div class="single-promo-2 single-promo-hover rounded text-center white-bg p-5 h-100">
                                                        <div class="circle-icon">
                                                            <span class="ti-headphone-alt text-white"></span>
                                                        </div>
                                                        <h5>Xây lắp công trình</h5>
                                                        <p class="font-weight-light">Realize importance of social proof in customer’s purchase decision.</p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <a href="#" class="p-0 mt-3">
                                                    <div class="single-promo-2 single-promo-hover rounded text-center white-bg p-5 h-100">
                                                        <div class="circle-icon">
                                                            <span class="ti-headphone-alt text-white"></span>
                                                        </div>
                                                        <h5>Thương mại dịch vụ</h5>
                                                        <p class="font-weight-light">Realize importance of social proof in customer’s.</p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </nav>



                                </div>
                                <!--  /.container  -->


                            </div>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="about-us.html">Khách hàng</a></li>
                    <li class="nav-item"><a class="nav-link" href="about-us.html">Bảng giá</a></li>
                    <li class="nav-item"><a class="nav-link" href="about-us.html">Tư vấn</a></li>
                    <li class="nav-item">
                        <a href="#" class="nav-link dropdown-toggle">Hỗ trợ</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#" class="dropdown-toggle-inner">Login & Sign Up</a>
                                <ul class="sub-menu">
                                    <li><a href="basic-login.html">Login Page 1</a></li>
                                    <li><a href="login.html">Login Page 2</a></li>
                                    <li><a href="basic-sign-up.html">Signup Page 1</a></li>
                                    <li><a href="sign-up.html">Signup Page 2</a></li>
                                    <li><a href="password-reset.html">Reset Password</a></li>
                                    <li><a href="change-password.html">Change Password</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle-inner">Utilities</a>
                                <ul class="sub-menu">
                                    <li><a href="download.html">Download Page</a></li>
                                    <li><a href="review.html">Review Page</a></li>
                                    <li><a href="faq.html">FAQ Page</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                    <li><a href="coming-soon.html">Coming Soon</a></li>
                                    <li><a href="thank-you.html">Thank You Page</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle-inner">Team</a>
                                <ul class="sub-menu">
                                    <li><a href="team.html">Our Team Members</a></li>
                                    <li><a href="team-single.html">Team Member Profile</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle-inner">Our Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-default.html">Blog Grid</a></li>
                                    <li><a href="blog-no-sidebar.html">Blog No Sidebar</a></li>
                                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
                                    <li><a href="blog-right-sidebar-2.html">Blog Right Sidebar 02</a></li>
                                    <li><a href="blog-single-left-sidebar.html">Details Left Sidebar</a></li>
                                    <li><a href="blog-single-right-sidebar.html">Details Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li><a href="project-details.html">Project Details </a></li>
                            <li><a href="services-details.html">Services Details</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="about-us.html">Chuyển đổi số </a></li>
                    <li><a href="#" class="btn secondary-solid-btn check-btn">Free Check</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>